@font-face {
    font-family: "TreasureMapDeadhand";
    src: url('treasure-map-deadhand-font/TreasureMapDeadhand-yLA3.ttf') format('truetype');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  button {
    background-color: blue;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    opacity: 0.8;
  }

  .container {
    padding: 16px;
  }

  span.psw {
    float: right;
    padding-top: 16px;
  }

.ldr-bttn {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
}

.ldr_bttn:hover {
    opacity: 1;
}
  
.form-popup {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid #f1f1f1;
    z-index: 999;
}

.leaderboard-container {
    display: inline-block;
    max-width: 300px;
    width: 50vw;
    height: 60vw;
    padding: 10px;
    background-color: white;
  }



  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 99; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  }

body {
    text-align: center;
    background-color: #f5f5f5;
    font-family: sans-serif;
}

ul { 
    list-style-type: none;
    padding: 5px;
}

.banner {
    display: block;
    width: 100%;
    margin: 0;
}

.titlepage {
    font-family: TreasureMapDeadhand;
    text-align: center;
    font-size: 5vw;
    margin-bottom: 5px;
}

.left-side {
    width: 60%;
    margin: 10px;
}

#puzzle-toolbar {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    background: #6ba68c;
    border-radius: 6px;
    width: 100%;
  }
  
  #puzzle-toolbar button {
    height: 100%;
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1em;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    background-color: #0d794a;
    color: white;
    transition: background-color 0.2s;
    margin: 7px;
  }
  
  #puzzle-toolbar button:hover {
    background-color: #073622;
  }

#main-section{
    display: flex-inline;
    align-items: flex-start;
    justify-content: center;
    margin: 0px;
    width: 100%;
}

.puzzle-area {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    margin: auto;
}

#puzzle-container {
    display: grid;
    gap: 2px;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 15px;
    background-color: #6ba68c;
    margin: 0px;
    grid-template-columns: repeat(var(--cols), 1fr);
    grid-template-rows: repeat(var(--rows), 1fr); 
    border-radius: 6px;
    }

#clue-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: auto 10px auto 5px;
    border-radius: 6px;
    width: 35%;
    padding: 10px;
}

#down-clues, #across-clues {
    flex-grow: 1;
    overflow-y: auto;
    background-color: #dfe4df;
    margin-bottom: 5px;
    border-radius: 0px 0px 6px 6px;
    padding: 10px;
}

#down-clues li, #across-clues li {
    visibility: hidden;
    margin-bottom: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    text-align: left;
    list-style-position: inside;
}

/*#down-clues li.visible, #across-clues li.visible {
    opacity: 1;
}*/

#down-clues li:hover, #across-clues li:hover {
    background-color: #f0f0f0;
}

.highlighted-clue {
    background-color: #a6e9cc;
    font-weight: bold;
  }

.highlighted {
    background-color: #a6e9cc !important; /* bright yellow */
}

.navbar {
    background: #000;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    margin-top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0;
    padding: 0 50px;
}

#navbar__logo {
    background: #1779ad;
    background-image: linear-gradient(to top, #ff0804 0%, #ffb1 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;

}

/*.fa-gem {
    margin-right: 0.5rem;
}*/

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
    gap: 20px;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    font-family: "TreasureMapDeadhand";
    font-size: 30px;
}

.navbar__home {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: left;
    text-decoration: none;
    margin-left: 30px;
    height: 100%;
    font-family: "TreasureMapDeadhand";
    font-size: 40px;
}

.navbar__bttn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.nav__button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: "TreasureMapDeadhand";
    font-size: 30px;
    padding: 10px 15px;
    height: 100%;
    width: 150px;
    border: none;
    outline: none;
    border-radius: 6px;
    background: #6ba68c;
    color: #fff;
}

.nav__button:hover {
    background: #3f7b62;
    transition: all 0.3s ease;
}

.navbar__links:hover {
    color: #3f7b62;
    transition: all 0.3s ease;
}

.header-background{
    background-color: #6ba68c;
    margin-top: 0;
    font-family: "TreasureMapDeadhand";
    font-size: 25px;
    padding: 10px;
    border-radius: 6px 6px 0px 0px;
}

.row {
    display: flex;
  }

.cell, .black-cell {
    position: relative;
    width: 100%;
    height: 100%;
    border: none /*1px solid #beaeec*/;
    font-size: 10vw;
    text-align: center;
    box-sizing: border-box;
}

.cell:focus {
    outline: 3px solid #235e44;
}

.cell {
    background-color: #fff;
    text-transform: uppercase;
    color: #000;
}

.black-cell {
    background-color: #000;
}

.cell-input {
    width: 100%;
    height: 100%;
    text-align: center;
    border: none;
    outline: none;
    background-color: #fff;
  }
  
.clue-number {
    position: absolute;
    top: 4px;
    left: 4px;
    font-size: calc(0.5em + 2vw);
    color: black;
    z-index: 10;
  }

.cell-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
}

@media screen and (max-width: 800px) {
    .navbar__container {
        display:flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
        background-color: #131313;
    }

    .navbar__menu.active {
        background-color: #131313;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 60vh;
        font-size: 1.6rem;
    }

    #navbar__logo {
        padding-left: 25px;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    .navbar__item {
        width: 100%;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__bttn {
        padding-bottom: 2rem;
    }

    .nav__button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }
    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .left-side {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90vw;
        margin: auto;
        flex-grow: 1;
    }

    .puzzle-area{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90vw;
        /*max-width: 1000px;
        min-width: 400px;*/
        margin: auto;
        flex-grow: 1;
    }

    #puzzle-container {
        width: 90%;
        padding: 10px;
        margin: 5px;
        }

    #clue-section {
        width: 90%;
        margin: 0px;
        padding: 0px;
    }

    #puzzle-toolbar {
        width: 100%;
        margin: 5px 0px;
    }

    .titlepage {
        display: none;
    }
}