body {
    font-family: sans-serif;
    text-align: center;
    padding: 2rem;
    background-color: #f5f5f5;
}

ul { 
    list-style-type: none;
    padding: 5px;
}

#main-section{
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    margin-top: 1rem;
}

#puzzle-container {
    display: grid;
    grid-gap: 1px; /*optional spacing between cells */
    justify-content: center;
    align-items: center;
    width: max-content; /* 🔥 ensures it expands to fit the puzzle */
    padding: 9px;
    background-color: #6ba68c;
    margin: auto;
    }

#clue-section {
    background-color: #fff;
    float: right;
    max-width: fit-content;
    margin: auto;
}

#side-section {
    background-color: #fff;
    float: left;
    max-width: fit-content;
    margin: auto;
}

.header-background{
    background-color: #959292;
    margin-top: 0;
}

.cell, .black-cell {
    width: 40px;
    height: 40px;
    border: none /*1px solid #beaeec*/;
    font-size: 20px;
    text-align: center;
    box-sizing: border-box;
    line-height: 40px;
}

.cell:focus {
    outline: 2px solid #007acc;
}

.cell {
    background-color: #fff;
    text-transform: uppercase;
}

.black-cell {
    background-color: #000;
}

button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #007acc;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #005e99;
}
